<link rel="stylesheet" href="css/clean-blog.css"/>
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top navbar-shrink">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navHeaderCollapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="" ng-click="goToHome()"><span class="philosopher">SOUND BYTES</span></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navHeaderCollapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="" ng-click="goToHome()"></a>
                </li>
                <li ng-hide="access_token">
                    <a class="page-scroll" href="" ng-click="login()"><span class="philosopher">LOGIN</span></a>
                </li>
                <li ng-show="access_token">
                    <a class="page-scroll" href="" ng-click="logout()"><span class="philosopher">LOGOUT</span></a>
                </li>
                <li ng-hide="access_token">
                    <a class="page-scroll" href="" ng-click="signUp()"><span class="philosopher">SIGN UP</span></a>
                </li>
                <li ng-show="access_token">
                    <a class="page-scroll" href="" ng-click="viewProfile()"><span class="philosopher">MY PROFILE</span></a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Page Header -->
    <header class="intro-header" style="background-image: url('images/post-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Blog</h1>
                        <hr class="small">
                        <span class="subheading">Express... Share...</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
<div class="container">
<p class="alert alert-info alert-dismissable text-center" ng-hide="access_token">
    You are not Authorized to View the Content on this Page
   </p>
<div class="well" ng-show="access_token">
<div class="row" style="padding-top:20px; padding-bottom: 30px">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-md-1"></div>
			<div class="col-lg-12">
                <textarea class="form-control" placeholder="Blog Title..." rows="1" ng-model="title"></textarea>
            </div>
            <div class="col-lg-12">
                <textarea class="form-control" placeholder="Share Your Thoughts..." rows="15" ng-model="content">
                </textarea>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <button class="btn btn-primary" ng-click="submit()">Share</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div ng-show="fail" class="alert alert-info alert-dismissable">
        {{failMessage}}
    </div>
</div>
<div class="row">
    <div ng-show="success" class="alert alert-success alert-dismissable">
        {{successMessage}}
    </div>
</div>
</div>

</div>
